<div class="container">
  <div class="upper-data">
    <!-- <img src="../../../assets/summer.jpg" *ngIf="14 < 15" /> -->
    <img src="../../../assets/night.jpg" *ngIf="14 <= 15" />

    <div class="weather-data">
      <div class="location">Wellington</div>
      <div class="temperature">{{ 14.4 | number : '1.0-0' }}°C</div>
    </div>
  </div>
  <div class="lower data">
    <div class="more-info-label">
        More Information
    </div>
    <div class="more-info-container">
        <div class="info-block">
            <div class="info-block-label">
                <img src="../../../assets/thermomertCold.jpg" >
                <span>min</span>
            </div>
            <div class="info-block-value">
                10°C
            </div>
        </div>

        <div class="info-block">
            <div class="info-block-label">
                <img src="../../../assets/warmtemperature.webp" >
                <span>max</span>
            </div>
            <div class="info-block-value">
                40°C
            </div>
        </div>

        <div class="info-block">
            <div class="info-block-label">
                <img src="../../../assets/humidity.jpg" >
                <span>humidity</span>
            </div>
            <div class="info-block-value">
                77%
            </div>
        </div>

        <div class="info-block">
            <div class="info-block-label">
                <img src="../../../assets/wind.jpg" >
                <span>Wind</span>
            </div>
            <div class="info-block-value">
                11 Km/h
            </div>
        </div>
    </div>
  </div>
</div>
